{% extends "layout.html" %}


{% block content %}

<div class="jumbotron">
    <h1 class="heb">היסטורית הקרבות של UFC בלחימה משולבת MMA בין השנים 1993-2019</h1>
</div>

<div class="row">
    <div class="col-md-6">
        <h2 class="heb">נושא העבודה:</h2>
        <p class="heb">
            אליפות הלחימה האולטימטיבית (UFC) היא החברה הפרטית הגדולה ביותר בעולם לקידום ענף אמנויות הלחימה המשולבות (MMA), אשר מארחת את הלוחמים שדירוגם הוא הגבוה ביותר בענף ומפיקה אירועי לחימה ברחבי העולם.
            <br /><br />
            החברה ממוקמת בארצות הברית. היא מחלקת את קטגוריית המשקל של לוחמיה לשמונה יחידות משקל ואוכפת את חוקי הלחימה המשולבת. הארגון נוסד בשנת 1993 ובשנת 2001 הוחלפו בעליה אשר ממשיך לשלוט בארגון עד עצם היום הזה.
            <br /><br />
            אליפות הלחימה האולטימטיבית צברה פופולריות רבה הודות לשידורי טלוויזיה בכבלים, סיקור טלוויזיוני מקיף והתרחבות לאזורים כקנדה, אירופה, אוסטרליה, המזרח התיכון, אסיה וכן שווקים חדשים בתוך ארצות הברית.
            <br /><br />
            החל משנת 2001, ניתנה האפשרות לצפות באירועי האליפות דרך שידורי שלם וצפה בארצות הברית ובמדינות רבות אחרות ברחבי העולם.

        </p>
    </div>
    <div class="col-md-1">
    </div>
    <div class="col-md-5">
        <br /><br /><br /><br />
        <img class="contain" src={{ img_UFC }} alt='Missing'>
    </div>
</div>

{% endblock %}
