{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<div class="row my-grid-borders">
    <p> </p>
</div>
<div class="row my-grid-borders">
    <div class="col-md-2 my-grid-borders"><img class="contain" src={{ img_trump }} alt='Missing'></div>
    <div class="col-md-2 my-grid-borders"><img class="contain" src={{ img_obama }} alt='Missing'></div>
    <div class="col-md-2 my-grid-borders"><img class="contain" src={{ img_bush }} alt='Missing'></div>
    <div class="col-md-2 my-grid-borders"><img class="contain" src={{ img_clinton }} alt='Missing'></div>
</div>
<div class="row my-grid-borders">
    <h2>UFC's Dataset Fields</h2>
</div>
<div class="row my-grid-borders">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Field</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>R_fighter</td>
                <td>לוחם הלובש כפפות אדומות</td>
            </tr>
            <tr>
                <td>B_fighter</td>
                <td>לוחם הלובש כפפות כחולות</td>
            </tr>
            <tr>
                <td>Referee</td>
                <td>השופט הראשי של אותו קרב</td>
            </tr>
            <tr>
                <td>Date</td>
                <td>התאריך של הקרב</td>
            </tr>
            <tr>
                <td>Location</td>
                <td>המיקום של הקרב</td>
            </tr>
            <tr>
                <td>Winner</td>
                <td>צבע הכפפות של המנצח</td>
            </tr>
            <tr>
                <td>title_bout</td>
                <td>האם הקרב היה קרב על המקום הראשון בקטגוריה</td>
            </tr>
            <tr>
                <td>weight_class</td>
                <td>קטגורית משקל הלוחמים</td>
            </tr>
            <tr>
                <td>no_of_rounds</td>
                <td>מספר הסיבובים בקרב</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="row my-grid-borders">
    <div class="col-md-5 my-grid-borders">
        <form method="post">
            {{ form1.csrf_token }}
            <input class="btn btn-success" type="submit" name="action" value="Expand">
        </form>
    </div>
    <div class="col-md-5 my-grid-borders">
        <form method="post">
            {{ form2.csrf_token }}
            <input class="btn btn-danger" type="submit" name="action" value="Collapse">
        </form>
    </div>
</div>
<div class="row my-grid-borders">
    {{ raw_data_table | safe}}
</div>


{% endblock %}